<div #content class="animate__animated animate__flip">
   
    <ul  class="links">
        <li (click)="navigate('/')" class="link-menu color-beige link">Accueil<img class="responsive-img circle img-link"src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676293991/bulle_izxyvm.png" alt="" width="80"></li>
        <li (click)="navigate('/projects')" class="link-menu color-yellow link">Projets<img class="responsive-img circle img-link"src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676304504/light-bulb-with-drawing-graph_hg9n8n.jpg" alt="" width="80"></li>
        <li (click)="navigate('/skills')" class="link-menu"><a class="color-pink link"  routerLink="/skills">Skills <img class="responsive-img circle img-link"src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676315696/skills_dtaf3j.jpg" alt="" width="80"></a></li>
        <li (click)="navigate('profile')" class="link-menu"><a class="color-green link"  routerLink="/profile">Profil <img class="responsive-img circle img-link"src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676548274/profil_qgisre.png" alt="" width="80"></a></li>
        <li (click)="navigate('/contact')" class="link-menu"><a class="color-blue link"  routerLink="/contact">Contact <img class="responsive-img circle img-link"src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676315916/phone_ixzpex.jpg" alt="" width="80"> </a></li>   
    </ul>
</div>
