

.bulle{
    position:absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    width:20%;
}

.title{
    font-size: 7rem;
    /* text-shadow:  var(--neon); */
    
}
.sub{
    font-size: 9rem;
    /* text-shadow:  var(--neon); */
}
/* .bm1{
    position:absolute;
    right:-10%;
    top:-10%;
    opacity: 0.8;
    z-index: -1;
    
}*/
.bm2{
    position:absolute;
    display: none;
    z-index: -1;
    width: var(--width-bulle);
     height: var(--height-bulle);
     left:0;
     top:0;
    -webkit-animation: moveX 10s linear 0s infinite alternate ,
                       moveY 7.4s linear 0s infinite alternate;
    -moz-animation: moveX 10s linear 0s infinite alternate , 
                    moveY 7.4s linear 0s infinite alternate;
    -o-animation: moveX 10s linear 0s infinite alternate , 
                  moveY 7.4s linear 0s infinite alternate;
    animation: moveX 10s linear 0s infinite alternate , 
               moveY 7.4s linear 0s infinite alternate;
    
} 



@-webkit-keyframes moveX {
    from { left: 0; } to { left: var(--stop-X); }
    
  }
  @-moz-keyframes moveX {
    from { left: 0; } to { left:var(--stop-X); }
  }
  @-o-keyframes moveX {
    from { left: 0; } to { left:var(--stop-X);  }
  }
  @keyframes moveX {
    from { left: 0; } to { left: var(--stop-X);  }
  }
  @-webkit-keyframes moveY {
    from { top: 0; } to { top: var(--stop-Y) }
  }
  @-moz-keyframes moveY {
    from { top: 0; } to { top: var(--stop-Y);  }
  }
  @-o-keyframes moveY {
    from { top: 0; } to { top: var(--stop-Y);  }
  }
  @keyframes moveY {
    from { top: 0; } to { top: var(--stop-Y);  }
  }
.test{
    height: 100vh;
    overflow-y: scroll;
    
     
    user-select: none;


}
.intro{
    font-size: 2rem;
    text-align: center;
    font-weight: 900;

}
.home{
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    
}
.img-scroll{
    opacity: 0;
    cursor: pointer;
    margin-left: auto;
    width: 10%;
    margin-right: auto;
    
    
 
}
.img-scroll2 {
  width: 10%;
  cursor: pointer;
  margin-top: 1rem;
}
.cont{
    
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.paragraph{
    font-size: 2.5rem;
    text-align: center;
    margin: 0;

}

.link{
    color:rgb(0,0,0);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
  .img-home{
    width: 150px;
  }
  .home{
    justify-content: center;
    gap:1.2rem;
  }
  .intro,.paragraph{
    font-size: 1.3rem;
    margin:0;
  }
  .title{
    font-size: 5rem;
    
  }
  h2{
    margin: 0;
  }
  .sub{
      font-size: 3rem;
  }

}
@media only screen and (min-device-width : 601px) and (max-device-width : 1000px) {

  .intro,.paragraph{
    font-size: 2.5rem;
  }
  .title{
    font-size: 7rem;
    
  }
  .sub{
      font-size: 5rem;
  }

}
@media screen and  (max-device-height : 790px){
  .home{
    gap:0.5rem;
  }
  .paragraph{
    font-size: 1.5rem;
  }
  .img-scroll{
    width: 6.5%;
  }
  .img-home{
    margin:.5rem 0 .5rem 0;
  }
}
@media screen and  (max-device-width : 1025px) and (orientation: landscape) {
 

  .title{
     font-size:3rem;
  }
  .sub{
     font-size: 2rem;
  }
 h2{
  font-size: 1.5rem;
 }
.img-home{
  width: 100px;
}
.img-scroll2{
  margin-top:0.5rem;
}

.home{
  justify-content: start;

}

.btn-app{
  font-size: 1rem;
  margin:0.5rem;
}
  .intro,.paragraph{
    font-size: 1rem;
  }
}