
<div 
    #box 
    appScroll [projects]="projects" [profile]="profile" [home]="home" [skills]="skills" [contact]="contact" [bubble]="img"
    class="row test animate__animated"
    
>

<img class="animate__animated bulle b1" #bulle src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676293991/bulle_izxyvm.png" alt="">

<div #content class="cont col m8 offset-m2 s12">
        <img #img class="responsive-image img-bulle bm2" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676978343/bullecarre_hg9jvr.png" alt="bulle de savon">
        <div #home class="home">
            <h1   class="animate__animated title" #title><span class="letter-color-yellow">C</span>él<span class="letter-color-pink">i</span>ne <span class="letter-color-blue">V</span>ial<span class="letter-color-green">a</span></h1>
            <!-- <img #img1  class="responsive-image img-bulle bm1" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676887542/bulleMod_msxz0q.png" alt="bulle " width="30%"> -->
            <h2 class="animate__animated sub" #subtitle>D<span class="letter-color-green">é</span>velo<span class="letter-color-blue">p</span>peuse <span class="letter-color-pink">W</span>eb</h2>
            <p #intro class="intro color-yellow"></p>
            <img #scroll (click)="clickScroll(box,1)" class="img-scroll animate__animated animate__infinite img-responsive" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676934844/pngwing.com_2_iefajm.png"  alt="logo scroll">
        </div>
        <div #projects class="home">
            <img (click)="clickScroll(box,-1)" class="img-scroll2 animate__animated animate__infinite img-responsive" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676977783/up_ajopsw.png"  alt="logo scroll">
            <h2><span class="letter-color-yellow">M</span>es <span class="letter-color-blue">p</span>rojets</h2>
            <p #projectDescription class="paragraph color-yellow" >Découvrez certains de mes projets en ligne et/ ou repo Github.</p>
            <img  #imgProject class="img responsive-image circle animate__animated animate__infinite animate__pulse depth-5" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676304504/light-bulb-with-drawing-graph_hg9n8n.jpg" alt="image ampoule" width="250">
            <div class="btn-app bg-yellow"><a class="link" routerLink="/projects">Voir mes projets</a></div>
            <img (click)="clickScroll(box,1)" class="img-scroll2 animate__animated animate__infinite img-responsive" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676934844/pngwing.com_2_iefajm.png"  alt="logo scroll">
        </div>
        <div #profile class="home">
            <img (click)="clickScroll(box,-1)" class="img-scroll2 animate__animated animate__infinite img-responsive" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676981160/upg_zq9sbv.png"  alt="logo scroll">
            <h2><span class="letter-color-green">M</span>on <span class="letter-color-pink">p</span>rofil</h2>
            <p #profilDescription class="paragraph color-green">Si vous voulez en apprendre un peu plus sur mon parcours.</p>
            <img  #imgProfile class="img responsive-image circle animate__animated animate__infinite animate__pulse depth-5" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676548274/profil_qgisre.png" alt="image profil" width="250">
            <div class="btn-app bg-green"><a class="link" routerLink="/profile">Voir mon profil</a></div>
            <img (click)="clickScroll(box,1)" class="img-scroll2 animate__animated animate__infinite img-responsive" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676981160/downg_po0hdu.png"  alt="logo scroll">
        </div>
        <div #skills class="home">
            <img (click)="clickScroll(box,-1)" class="img-scroll2 animate__animated animate__infinite img-responsive" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676981160/upp_hv3gmp.png"  alt="logo scroll">
            <h2><span class="letter-color-pink">S</span>kill<span class="letter-color-blue">s</span></h2>
            <p #skillDescription class="paragraph color-pink">Les compétences acquises au fil du temps. En autodidacte ou en formation.</p>
            <img  #imgSkill class="img responsive-image circle animate__animated animate__infinite animate__pulse depth-5" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676315574/skills_oya14l.jpg" alt="image pc rose" width="250">
            <div class="btn-app bg-pink"><a class="link" routerLink="/skills">Voir mes skills</a></div>
            <img (click)="clickScroll(box,1)" class="img-scroll2 animate__animated animate__infinite img-responsive" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676981160/downp_vsw1pq.png"  alt="logo scroll">
        </div>
        <div #contact class="home">
            <img (click)="clickScroll(box,-1)" class="img-scroll2 animate__animated animate__infinite img-responsive" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676981160/upb_x737k0.png"  alt="logo scroll">
            <h2><span class="letter-color-blue">C</span>onta<span class="letter-color-yellow">c</span>t</h2>
            <p #contactDescription class="paragraph color-blue">Vous souhaitez en savoir plus. Contactez-moi !</p>
            <img  #imgContact class="img responsive-image circle animate__animated animate__infinite animate__pulse depth-5" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676315916/phone_ixzpex.jpg" alt="image téléphone" width="250">
            <div class="btn-app bg-blue"><a class="link" routerLink="/contact">Voir coordonnées</a></div>

        </div>
      
       
    </div>
    

</div>
