

.bulle{
    position:absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    width:20%;
}

.title{
    font-size: 7rem;
    /* text-shadow:  var(--neon); */
    
}
.sub{
    font-size: 9rem;
    /* text-shadow:  var(--neon); */
}
/* .bm1{
    position:absolute;
    right:-10%;
    top:-10%;
    opacity: 0.8;
    z-index: -1;
    
}*/
.bm2{
    position:absolute;
    display: none;
    z-index: -1;
    width: var(--width-bulle);
     height: var(--height-bulle);
     left:0;
     top:0;
    -webkit-animation: MoveX 10s linear 0s infinite alternate ,
                       MoveY 7.4s linear 0s infinite alternate;
    -moz-animation: MoveX 10s linear 0s infinite alternate , 
                    MoveY 7.4s linear 0s infinite alternate;
    -o-animation: MoveX 10s linear 0s infinite alternate , 
                  MoveY 7.4s linear 0s infinite alternate;
    animation: MoveX 10s linear 0s infinite alternate , 
               MoveY 7.4s linear 0s infinite alternate;
    
} 



@-webkit-keyframes MoveX {
    from { left: 0; } to { left: var(--stop-X); }
    
  }
  @-moz-keyframes MoveX {
    from { left: 0; } to { left:var(--stop-X); }
  }
  @-o-keyframes MoveX {
    from { left: 0; } to { left:var(--stop-X);  }
  }
  @keyframes MoveX {
    from { left: 0; } to { left: var(--stop-X);  }
  }
  @-webkit-keyframes MoveY {
    from { top: 0; } to { top: var(--stop-Y) }
  }
  @-moz-keyframes MoveY {
    from { top: 0; } to { top: var(--stop-Y);  }
  }
  @-o-keyframes MoveY {
    from { top: 0; } to { top: var(--stop-Y);  }
  }
  @keyframes MoveY {
    from { top: 0; } to { top: var(--stop-Y);  }
  }
.test{
    height: 100vh;
    overflow-y: scroll;
    
     
    user-select: none;


}
.intro{
    font-size: 2rem;
    text-align: center;
    font-weight: 900;

}
.home{
    height: 100vh;
   
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.img-scroll{
    display:none;
    cursor: pointer;
    margin-left: auto;
    width: 10%;
    margin-right: auto;
    
 
}
.img-scroll2 {
  width: 10%;
  cursor: pointer;
}
.cont{
    
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.paragraph{
    font-size: 2.5rem;
    text-align: center;

}

.link{
    color:rgb(0,0,0);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {

  .intro,.paragraph{
    font-size: 1.3rem;
  }
  .title{
    font-size: 5rem;
    
  }
  .sub{
      font-size: 3rem;
  }

}
@media only screen and (min-device-width : 601px) and (max-device-width : 900px) {

  .intro,.paragraph{
    font-size: 2.5rem;
  }
  .title{
    font-size: 7rem;
    
  }
  .sub{
      font-size: 5rem;
  }

}