<div class="row text">
    <div #box class="content-project  col m10 offset-m1 s12">
        <h1 class="title"><span class="letter-color-yellow">M</span>es <span class="letter-color-blue">p</span>rojets</h1>
        <div class="intro">
            <img class="img-responsive circle" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676304504/light-bulb-with-drawing-graph_hg9n8n.jpg" alt="image projets" width="200">
            <p>Bienvenue dans la section consacrée à mes projets personnels et de fin de formation. Sans oublier le présent PORTFOLIO.</p>
            <p class="animate__animated animate__pulse animate__infinite">Scrollez vers le bas</p>
            </div>
        <div class="box">
            <h2>Mission-lecture.fr</h2>
            <img  appParallax [ratio]="0.15"  class="img-project" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676391564/ml_nd5ipd.jpg" alt="Site mission-lecture">
        </div>
        <div class="box">
            <h2 class="subtitle">Le jeu des tours de Hanoi</h2>
            <img  appParallax [ratio]="-0.15"  class="img-project" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676389587/hanoi_o5xz0r.jpg" alt="Jeu des tours de Hanoi">
        </div>
        <div class="box">
            <h2 class="subtitle">Générateur de fractales</h2>
            <img appParallax [ratio]="0.15" class="img-project" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676392198/fractales_c5xxuf.jpg" alt="Générateur de fractales">
           
        </div>
            
    
       
        <div class="box">
            <h2 class="subtitle">Le jeu de Nim</h2>
            <img appParallax [ratio]="0.015" class="img-project"  src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676392479/nim_zvxuyr.jpg" alt="Jeu de Nim">
           
        </div>
        
    </div>
</div>

