.img-project{
    width:80%;
    display: block;
    position: relative;
}

.box{
    position: relative;
    width: 100%;
    margin-bottom: 18rem;
}
.boxLink{
    display: flex;
    justify-content:center;
    align-items: center;
}
.boxParagraph{
    border-radius: 25px;
    padding: 1em;
    background-color: rgb(235, 228, 228);
    color:rgb(105, 102, 102);
}
.boxStack{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    width: 100%;
    gap:0.5rem
}
.btn-goto{
    font-size: 1.5rem;
 
}
.link{
   
    font-weight: 900;

    text-shadow: 1px 1px 1px rgb(0,0,0);
    text-align: center; 
}
.iconLink{
    font-size: 2rem;
    vertical-align: middle;
}
.git{
    width:40px;
}
.techno{
    background-color: rgb(202, 194, 194);
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    border:solid 1px rgb(105, 102, 102);
    color: rgb(105, 102, 102);
    padding: 1rem;
}
.intro{
    font-size: 2rem;
    height:50vh;
    font-weight: 900;
    text-align: center;
    

    text-shadow: 1px 1px 1px rgb(0,0,0);

}
.content-project{
    font-size: 2rem;
 
}
.form-goto{
    font-weight: 900;
    font-size: xx-large;
    height: 25vh;
    text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
    .intro, .content-project{
        font-size: 1rem;
        
    }
    .box {
       margin-bottom: 5rem; 
    }
    .git{
        width: 25px;
    }
}

@media screen and  (max-device-width : 900px) and (orientation: landscape) {
  
    .img-intro{
       max-width: 120px;
    }
    h1{
       font-size:3rem;
    }
   
    h2{
       font-size: 3rem;
    }
    .btn-app{
        margin-bottom:50px;
    }
   }