.text{
    overflow:scroll;
    font-size: 1.8rem;
    color: rgb(153, 147, 147);;
    max-height: 90vh;
    height:100vh;
    width:80%;
    position: relative;

}
.box-img{
    display: flex;
    align-items: center;
    


}
/* .box-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
.title{
    font-weight: 900;
    text-align: center;
    display: block;
    width: 100%;
}
.content-profile{
    display: flex;
    width:100%;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
}

.item{
    border-radius: 25px;

    font-weight: 900;
    padding: 1rem;
    margin-left: 25px;
    cursor: pointer;
    border: solid 4px rgb(153, 147, 147);
    
}
.paragraph{
   display:none;


   border-radius: 25px;
   padding: 1rem;


}
.sign{
    background-color: rgb(153, 147, 147) ;
    color:rgb(0,0,0);
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height:40px;
    text-align: center;
    
    
    margin-left: 20px;
}

.img{
    display: none;
}

.complement{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 900;
    margin-bottom: 0.5rem;
    text-shadow: 1px 1px 1px rgb(0,0,0);
}

.complement-blue{
    color: #3c40c6;
}
.complement-yellow{
    color: #ffa801;
}
.complement-pink{
    color: #218c74;;
}
.complement-green{
    color: #FBA7FD;;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 1000px) {
    
    .text{
        width: 100%;
    }
    
    .img-profile{
        width: 200px;
    }
    .content-profile{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .item{
        font-size: smaller;
        background-color: #218c74;
        color:black;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .paragraph{
        font-size: 1rem;
        background-color: rgba(255,255,255,0.8);
        color:black;
        margin: auto;
    }
    .box-img{
   
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
}

