<div class="row text animate__animated animate__fadeInLeft">
    <div class="content-profile  col m12 s12">
        <div>
            <div class="box-img">
                <img  class="img-profile img-responsive circle animate__animated animate__rotateInUpRight" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676548274/profil_qgisre.png" alt="moi" width="300">
                <h1 class="title"><span class="letter-color-green">M</span>on <span class="letter-color-yellow">p</span>rofil</h1>
            </div>
        </div>
        <div class="text"> 
            <ng-container *ngFor="let item of listItems;let i=index">
                <p class="item animate__animated animate__delay-1s {{item.anim}}" (click)="toggleItem(ii,iii)" [appHoverTab]="[null,null,item.color]" >{{item.name}}<span #iii class="animate__animated animate__delay-2s animate__flash animate__repeat-1 sign">+</span></p>
                <div #ii class="paragraph">
                    <p >{{item.description}}</p>
                    <ul>
                    <ng-container *ngFor="let complement of item.complement;let i=index">
                        <li  class="animate__animated animate__pulse animate__infinite complement complement-{{item.colorComplement!=undefined?item.colorComplement[i]:''}}">{{complement}}</li>
                    </ng-container>
                    </ul>
                </div>
            </ng-container>
        </div>
    </div>
</div>
