<div class="row animate__animated animate__fadeInLeft">
    <div class="col m10 offset-m1">
        <div class="content-contact">
            <h1 #title> <span class="letter-color-yellow">C</span>onta<span class="letter-color-blue">c</span>t</h1>
            <img class="img-responsive circle img-contact"
                src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676315916/phone_ixzpex.jpg" alt="image téléphone">
            <div class="intro animate__animated animate__fadeInLeft">
                <p>N'hésitez pas à me contacter&nbsp;!</p>
                <i class="material-icons icon-down animate__animated animate__pulse animate__infinite">arrow_drop_down</i>
            </div>
        </div>

        <div class="box">
            <img class="img-link" appParallax [ratio]="0.9"
                src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676560902/bonhomme1_przzif.png" alt="bonhomme">

            <img class="img-link" appParallax [ratio]="-0.9"
                src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676560902/bonhomme2_jmcwag.png" alt="bonhomme">
        </div>
        <div class="linksBox">
            <div>
                <a href="https://www.linkedin.com/in/devcelinev/" class="label-link">Sur LinkedIn <img class="logo"
                        src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676561922/linkedin_yc4smx.png"
                        alt="logo linkedin" width="50"></a><a class="link"
                    href="https://www.linkedin.com/in/devcelinev/">Profil</a>
            </div>
            <div>
                <a href="mailto:celineviala.dev@gmail.com" class="label-link">Par mail </a><a class="link"
                    href="mailto:celineviala.dev@gmail.com">celineviala.dev@gmail.com</a>
            </div>
        </div>
    </div>
</div>