<div class="row text">
    <div class="content-profile  col m12 s12">
        <div class="content-skills">
            <h1 class="title"><span class="letter-color-blue">M</span>es <span class="letter-color-pink">c</span>ompé<span class="letter-color-green">t</span>ences</h1>
            <div class="box-img">
                <img  class="img-profile img-responsive circle animate__animated animate__flipInX" src="https://res.cloudinary.com/dhpiuysko/image/upload/v1676315696/skills_dtaf3j.jpg" alt="moi" width="300">
            </div>
        </div>
        <div class="text container"> 
            <p class="wide">HTML 5</p>

  <div  class="skill skillbar-bar" data-percent="95%" style="height:28px;width:0%"></div>



 <p class="wide">CSS 3</p>

  <div class="skill skillbar-bar" data-percent="55%" style="height:28px;width:0%">55%</div>
*


<p class="wide">Javascript</p>

  <div class="skill skillbar-bar" data-percent="55%" >50%</div>



<p class="wide">PHP 7</p>
<div class="skill skillbar-bar" data-percent="50%" style="height:28px;width:0%">50%</div>






        </div>
    </div>
</div>
