.content-skills{
    display: flex;
    justify-content:space-evenly;
    
}

.text{
   width: 70%;
}

body {
    background-color: #222;
    width : 50%;
  }
  
  p {
    color : white;
  }
  .back {
      background: none !important;
  }
  
  .skill {
      background: #218c74;
      text-align: right;
      padding-right: 20px;
      line-height: 30px;
      border-radius: 0 20px 20px 0;
  }
  .label{
    font-weight: 900;
    font-size: 2rem;
    vertical-align: middle;
    display: flex;
    gap:2rem;
    background-color: rgb(201, 201, 201);
    color :black;
    padding: 1rem;
    border-radius: 25px;
  }
  .loading{
    margin-left: 5rem;
  }
  .skillTitle{
    display: flex;
    align-items: baseline;
  }
  .skillbar-bar{
    width: 0%;
    position: relative;
    top:0;
    z-index: 2;
  }

  .skillBox{
    position: relative;
    margin-bottom: 2rem;
  }
  .skillbar-back{
    width:100%;

    background: rgb(153, 147, 147);
    box-shadow: 1px 1px 1px rgb(0,0,0);
    position:absolute;
    top:0
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 1000px) {
    .label{font-size: 1rem;}
    .text{
      width: 100%;
    }
    .img-profile{
      width:140px;
    }
    .img-skill{
      width: 20px;
    }
    h1{
      font-size: 5rem;
    }

  }